<div class="col-md-8 col-md-offset-2">
    <form [formGroup]="createbidForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="property">Property</label>
            <input
                    type="text"
                    id="property"
                    class="form-control"
                    formControlName="property">
        </div>
        <div class="form-group">
            <label for="bidAmount">Bid Amount</label>
            <input
                    type="text"
                    id="bidAmount"
                    class="form-control"
                    formControlName="bidAmount">
        </div>
        <div class="form-group">
            <label for="bidTime">Time</label>
            <input
                    type="text"
                    id="bidTime"
                    class="form-control"
                    formControlName="bidTime">
        </div>
        <div class="form-group">
            <label for="bidUser">User</label>
            <input
                    type="text"
                    id="bidUser"
                    class="form-control"
                    formControlName="bidUser">
        </div>
        <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!signupForm.valid">Submit</button>
    </form>
</div>