<h1>{{title}}</h1>

<table class="table">
    <tr>
        <th>Property Name</th>
        <th>Owner Description</th>
        <th>Expected Price</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let auction of auctions">
        <td>
            <p *ngIf="auction.property!=null">{{auction.property.name}}</p>
        </td>
        <td></td>
        <!-- <td>{{auction.owner.name}}</td> -->
        <td>{{auction.property.expectedPrice}}</td>
        <td>{{auction.startTime | date:"medium" }}</td>
        <td>{{auction.endTime | date:"medium"}}</td>
        <td>{{auction.status}}</td>
        <td>
            <button (click)="approve(auction)">Approve</button>
       
            <button (click)="reject(auction)">Reject</button>
        </td>
    </tr>
</table>