<div class="row">

    <div *ngFor="let auction of auctions" class="asset-tile">

        <div *ngIf="auction.property != null" (click)="viewDetail(auction)">

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">


                    <img src="{{auction.property.imagePath}}" alt="{{auction.property.name}}" style="width: 100%" />

                    <div class="caption">

                        <div class="addressStreet">{{auction.property.name}}</div>
                        <div class="addressCityState">{{auction.property.address1}} ,{{auction.property.address2}} ,{{auction.property.city}}</div>
                        <div class="eventStatus">{{auction.property.state}} - {{auction.property.zip}}</div>

                    </div>
                    <!-- <div class="property-card-footer">
                    <div class="eventStatus">{{auction.startTime}}- {{auction.endTime}}</div>
                </div> -->
                    <!-- <div class="property-card-footer">
                    <div class="eventStatus">{{auction.property.state}}- {{auction.property.zip}}</div>
                </div> -->
                </div>
            </div>



        </div>
    </div>
</div>