<div class="row">

    <div *ngFor="let auction of auctions" class="asset-tile">

        <div *ngIf="auction.property != null" (click)="viewDetail(auction)">

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">

<div style="height:200px">
                    <img src="{{auction.property.imagePath}}" alt="{{auction.property.name}}" class="img-responsive"/>
                </div>
                    <div class="caption">

                          <h3>{{auction.property.name}} <button class="btn btn-info">View Detail</button> </h3>  
                        <div class="well ">Auction start date : {{ auction.startTime | dateFormat}}
                        <div class="addressCityState">{{auction.property.address1}} ,{{auction.property.address2}} ,{{auction.property.city}}</div>
                        <div class="eventStatus">{{auction.property.state}} - {{auction.property.zip}}</div>
                    </div>
                       
                    </div>

                </div>
            </div>



        </div>
    </div>
</div>