<div class="content-container">
    <h1>Auctions</h1>
    <div *ngFor="let auction of auctions" class="asset-tile">
        <!-- <a routerLink="auction/bid/{{auction.id}}"> -->
            <a href="#">
                
            <div class="property-card-image">
                <img src="{{auction.property.id}}.png" alt="{{auction.property.name}}" style="width: 100%" />
            </div>
            <div class="property-card-data">

                <div class="addressStreet">{{auction.property.name}}</div>
                <div class="addressCityState">{{property.address.street}},{{property.address.city}},{{property.address.state}}</div>

            </div>
            <div class="property-card-footer">
                <div class="eventStatus">{{property.typeOfHouse}}- {{property.areaOfHouse}} Sq ft.</div>
            </div>

        </a>
    </div>

</div>