<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Auction</a>
        </div>

        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/auction">Auction</a></li>
                <!--<li routerLinkActive="active"><a routerLink="/user">User</a></li>-->
                <li routerLinkActive="active"><a routerLink="/properties">Properties</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <ng-template [ngIf]="!userService.isLoggedIn()">
                    <li routerLinkActive="active"><a routerLink="/user/signup">Register</a></li>
                    <li routerLinkActive="active"><a routerLink="/user/signin">Login</a></li>
                </ng-template>

                <li><a
                        style="cursor: pointer;"
                        (click)="onLogout()"
                        *ngIf="userService.isLoggedIn()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>